body {
    font-family: 'Noto Serif JP', sans-serif;
    
}
section {
    padding: 350px 0;
}

#home {
   background-image: url("../images/peyto-home.JPG");
   background-size: cover;
   background-position: no-repeat;
   color: white;
   font-size: 1.5rem;
}

h5 {
    font-size: 3rem;
    color: white;
    font-style: bold;
}