body {
    font-family: 'Noto Serif JP', sans-serif;
    
}
section {
    padding: 350px 0;
}

#home {
   background-image: url("../images/peyto-home.JPG");
   background-size: cover;
   background-position: no-repeat;
   color: white;
   font-size: 1.5rem;
}

h5 {
    font-size: 3rem;
    color: white;
    font-style: bold;
}

#skills {
    color: white;
    background-color:  #ababb6;
}

#portfolio {
    color: white;
    background-color: #747488;
}

#about {
    color: white;
    background-color:  #E0E0E4;
}

#contact {
    color: white;
    background-color: #747488;
}

footer {
    color: white;
    background-color: #2f2d36;
    padding: 20px 0;
}