/* Overall Styling */
body {
    position: relative;
}

.nav-item {
    font-family: 'Rufina', serif;
}

section {
    padding: 100px 0;
}

/* Home Page Styling */
#home {
   background-image: url("../images/peyto-home.JPG");
   height: 500px;
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   background-position: no-repeat;
   padding: 350px 0;
   flex: 0 auto;
}

#name {
    font-size: 4rem;
    color: white;
    font-style: bold;
    font-family: 'Rufina', serif;
    text-shadow: 2px 2px 5px #747488;
}

#title {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px #747488;
}

/* Attribute Section Styling */
#attributes {
    flex: 0 auto;
    background-color:  #ababb6;
    text-align: center;
}

#attribute-header {
    font-size: 4rem;
    color: white;
    font-style: bold;
    font-family: 'Rufina', serif;
    padding: 5px;
    text-shadow: 2px 2px 5px #747488;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-style: bold;
    font-size: 2rem;
}

#attribute-set {
    color: white;
    padding: 40px;
    margin: 45px;
}

#experience {
    font-style: bold;
    font-family: 'Rufina', serif;
}

.rounded-circle {
    background-color: #72b1b8;
    padding: 15px;
}

.fas {
    font-size: 5rem;
    color: white;
}

.fab {
    font-size: 3rem;
    color: white; 
}

/* Skills Section Styling */
#skills {
    background-image: url("../images/lake-louise-me.JPG");
    height: 400px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-position: no-repeat;
    flex: 0 auto;
    text-align: center;
    justify-content: center;
}

#skills-header {
    font-size: 4rem;
    color: white;
    font-style: bold;
    font-family: 'Rufina', serif;
    padding: 5px;
    text-shadow: 2px 2px 5px #747488;
}

#skills-logos {
    background-color: rgba(113, 176, 183, 0.60)
}

/* Portfolio Section Styling */
#portfolio {
    flex: 0 auto;
    color: white;
    background-color: #747488;
    font-style: bold;
    font-family: 'Rufina', serif;
}

#portfolio-header {
    font-size: 4rem;
    text-shadow: 2px 2px 5px #747488;
    text-align: center;
}

/* About Section Styling */
#about {
    background-image: url("../images/IMG_7523-Edit-web.jpg");
    height: 700px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-position: no-repeat;
    flex: 0 auto;
    text-align: center;
    justify-content: center;
    color: white;
    position: relative;
}

#about-header {
    font-size: 4rem;
    font-style: bold;
    font-family: 'Rufina', serif;
    text-shadow: 2px 2px 5px #747488;
}

.rounded {
    background-color: #72b1b8;
    padding: 15px;
}

#about-me-2 {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* .carousel {
    z-index: -99;
}

.carousel
.item {
    position: fixed;
    width: 100%;
    height: 400px;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.carousel
.one {
    background: url("../images/IMG_7523-Edit-web.jpg");
    background-size: cover;
    -moz-background-size: cover;
}

.carousel
.two {
    background: url("../images/IMG_7530-web.jpg");
    background-size: cover;
    -moz-background-size: cover;
}

.carousel
.three {
    background: url("../images/IMG_7541-web.jpg");
    background-size: cover;
    -moz-background-size: cover;
}

.carousel
.four {
    background: url("../images/IMG_7547-web.jpg");
    background-size: cover;
    -moz-background-size: cover;
}

.carousel
.active.left {
    left: 0;
    opacity: 0;
    z-index: 2;
} */

/* Contact Section Styling */
#contact {
    flex: 0 auto;
    color: white;
    background-color: #747488;
}

button {
    color: white;
    background-color: #72b1b8;
    border-color: #72b1b8;
}

h4 {
    font-style: bold;
    font-family: 'Rufina', serif;
}

/* Footer Styling */
footer {
    color: white;
    background-color: #2f2d36;
    padding: 20px 0;
    text-align: center;
}

#find-me {
    font-size: 1.5rem;
}

/* Media Queries */
@media all and (max-width: 768px) {
    #about #about-me{display:none}
    #about{height:700px} #about-me-2{display:inline-block}
}

@media all and (max-width: 425px) {
    #about #about-me{display:none}
    #about{height:700px} #about-me-2{display:inline-block}
}