/* Overall Styling */
body,
html {
  position: relative;
  height: 100%;
  scroll-behavior: smooth;
}

p {
  font-size: 16px;
  font-weight: 600;
}

.nav-item {
  font-family: "Open Sans", sans-serif;
}

section {
  padding: 100px 0;
}

/* Home Page Styling */
#home {
  background-image: url("../images/peyto-home-1200.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding: 350px 0;
  flex: 0 auto;
}

.name {
  font-size: 4rem;
  color: white;
  font-style: bold;
  font-family: "Rufina", serif;
  text-shadow: 2px 2px 5px #747488;
  text-align: center;
  /* padding-left: inherit; */
}

.title {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px #747488;
  text-align: center;
  /* padding-left: inherit; */
}

/* Attribute Section Styling */
#attributes {
  flex: 0 auto;
  background-color: #ababb6;
  text-align: center;
}

#attribute-header {
  font-size: 4rem;
  color: white;
  font-style: bold;
  font-family: "Rufina", serif;
  padding: 5px;
  text-shadow: 2px 2px 5px #747488;
}

h3 {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-style: bold;
  font-size: 2rem;
}

#attribute-set {
  color: white;
  padding: 40px;
  margin: 45px;
}

#experience {
  font-style: bold;
  font-family: "Rufina", serif;
}

.rounded-circle {
  background-color: #72b1b8;
  padding: 15px;
}

.fas {
  font-size: 5rem;
  color: white;
}

.fab {
  font-size: 3rem;
  color: white;
}

/* Skills Section Styling */
#skills {
  background-image: url("../images/lake-louise-me.JPG");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  flex: 0 auto;
  text-align: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

#skills-header {
  font-size: 4rem;
  color: white;
  font-style: bold;
  font-family: "Rufina", serif;
  padding: 5px;
  text-shadow: 2px 2px 5px #747488;
}

#skills-logos {
  background-color: rgba(113, 176, 183, 0.6);
  padding: 1rem;
  margin: 45px;
}

/* Portfolio Section Styling */
#portfolio {
  flex: 0 auto;
  color: white;
  background-color: #747488;
  font-style: bold;
  font-family: "Rufina", serif;
}

#portfolio-header {
  font-size: 4rem;
  text-shadow: 2px 2px 5px #747488;
  text-align: center;
  padding: 5px;
}

.client {
  display: block;
  width: 100%;
  height: auto;
}

.proj-info {
  padding: 20px;
  margin: auto;
}

h2 {
  color: #72b1b8;
}

hr {
  border-top: 1px solid white !important;
}

.text {
  color: white;
  font-size: 20px;
}

.port-links:hover {
  color: #2f2d36;
}

/* Testimonial Section Styling */
#testimonials {
  background-image: url("../images/lake-louise-me.JPG");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.testimonial-header {
  font-size: 4rem;
  color: white;
  font-style: bold;
  font-family: "Rufina", serif;
  padding: 5px;
  text-shadow: 2px 2px 5px #747488;
  text-align: center;
}

.quotes {
  background-color: #72b1b8;
  text-align: center;
  border-radius: 1rem;
  color: white;
  margin: 0 1rem 1rem 1rem;
}

.client-testimonial {
  font-style: italic;
  margin-top: 1rem;
}

a {
  color: #2f2d36;
}

a:hover {
  color: white;
  text-decoration: none;
}

/* About Section Styling */
#about {
  text-align: center;
}

#me {
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  margin-bottom: 1rem;
}

#me img {
  border-radius: 50%;
  border: 3px solid #2f2d36;
}

/* Contact Section Styling */
#contact {
  flex: 0 auto;
  color: white;
  background-color: #747488;
}

button {
  color: white;
  background-color: #72b1b8;
  border-color: #72b1b8;
}

h4 {
  font-style: bold;
  font-family: "Rufina", serif;
}

/* Footer Styling */
footer {
  color: white;
  background-color: #2f2d36;
  padding: 20px 0;
  text-align: center;
}

#find-me {
  font-size: 1.5rem;
}

/* Media Queries */
/* @media all and (max-width: 768px) {
    #about #about-me{display:none}
    #about{height:700px} #about-me-2{display:inline-block}
} */
/* extra large devices */
@media screen and (max-width: 1200px) {
  #home {
    background-image: url("../images/peyto-home-1200.jpeg");
  }
}

/* large screens */
@media screen and (max-width: 992px) {
  #home {
    background-image: url("../images/peyto-home-1200.jpeg");
  }
}

/* tablets */
@media screen and (max-width: 768px) {
  #home {
    background-image: url("../images/peyto-home-1200.jpeg");
  }
}

/* small devices */
@media screen and (max-width: 576px) {
  #home {
    background-image: url("../images/peyto-home-768.jpeg");
  }
}

/* small devices */
@media all and (max-width: 425px) {
  #home {
    background-image: url("../images/peyto-home-768.jpeg");
  }

  #card-holder {
    padding: 1rem;
    margin: 1rem -15px 0;
  }
}
