/* Overall Styling */
body,
html {
  position: relative;
  scroll-behavior: smooth;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  margin: 0;
}

p {
  font-size: 100%;
  font-weight: 300;
}

.nav-item {
  font-family: "Lato", sans-serif;
}

section {
  padding: 100px 0;
}

h1,
h2,
h3 {
  font-weight: 300;
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
  color: #fff;
}

h1 {
  font-size: 350%;
  word-spacing: 3px;
}

h2 {
  font-size: 300%;
  word-spacing: 2px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px #747488;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #72b1b8;
  /* must specify content when using after pseudo class */
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

h3 {
  font-size: 200%;
  margin-bottom: 20px;
}

/* Home Page Styling */
#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/peyto-home-1200-min.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding: 350px 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.name {
  font-weight: 700;
  text-shadow: 2px 2px 5px #747488;
  text-align: center;
  /* padding-left: inherit; */
}

.title {
  text-shadow: 2px 2px 5px #747488;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  /* padding-left: inherit; */
}

/* Attribute Section Styling */
#attributes {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: #ababb6;
  text-align: center;
}

#attribute-set {
  color: white;
  padding: 40px;
  /* margin: 45px; */
}

#experience {
  font-style: bold;
}

.rounded-circle {
  background-color: #72b1b8;
  padding: 15px;
}

.fas {
  font-size: 5rem;
  color: white;
}

.fab {
  font-size: 3rem;
  color: white;
}

/* Skills Section Styling */
#skills {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/lake-louise-me-min.JPG");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

#skills-header {
  color: white;
  font-style: bold;
  padding: 5px;
  text-shadow: 2px 2px 5px #747488;
}

#skills-logos {
  background-color: rgba(113, 176, 183, 0.6);
  padding: 1rem;
  margin: 45px;
}

/* Portfolio Section Styling */
#portfolio {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: white;
  background-color: #747488;
  font-style: bold;
}

#portfolio-header {
  text-shadow: 2px 2px 5px #747488;
  text-align: center;
  padding: 5px;
}

.client {
  display: block;
  width: 100%;
  height: auto;
}

.proj-info {
  padding: 20px;
  margin: auto;
}

.proj-info h3 {
  color: #72b1b8;
}

hr {
  border-top: 1px solid white !important;
}

.text {
  color: white;
  font-size: 20px;
}

.port-links:hover {
  color: #2f2d36;
}

/* Testimonial Section Styling */
#testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/lake-louise-me-min.JPG");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.testimonial-header {
  font-style: bold;
  padding: 5px;
  text-shadow: 2px 2px 5px #747488;
  text-align: center;
}

.quotes {
  background-color: #72b1b8;
  text-align: center;
  border-radius: 1rem;
  color: white;
  margin: 0 1rem 1rem 1rem;
}

.client-testimonial {
  font-style: italic;
  margin-top: 1rem;
}

a {
  color: #2f2d36;
}

a:hover {
  color: white;
  text-decoration: none;
}

/* About Section Styling */
#about {
  text-align: center;
}

#me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  overflow: hidden;
  margin-bottom: 1rem;
}

#me img {
  border-radius: 50%;
  border: 3px solid #2f2d36;
}

/* Contact Section Styling */
#contact {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: white;
  background-color: #747488;
}

button {
  color: white;
  background-color: #72b1b8;
  border-color: #72b1b8;
}

.about-me-text h3 {
  color: #72b1b8;
}

/* Footer Styling */
footer {
  color: white;
  background-color: #2f2d36;
  padding: 20px 0;
  text-align: center;
}

#find-me {
  font-size: 120%;
}

/* Media Queries */
/* @media all and (max-width: 768px) {
    #about #about-me{display:none}
    #about{height:700px} #about-me-2{display:inline-block}
} */
/* extra large devices */
@media screen and (max-width: 1200px) {
  body {
    font-size: 18px;
  }

  #home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../images/peyto-home-1200-min.jpeg");
  }
}

/* large screens */
@media screen and (max-width: 992px) {
  body {
    font-size: 18px;
  }

  #home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../images/peyto-home-1200-min.jpeg");
  }
}

/* tablets */
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  #home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../images/peyto-home-1200-min.jpeg");
  }
}

/* small devices */
@media screen and (max-width: 576px) {
  #home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../images/peyto-home-768-min.jpeg");
  }
}

/* small devices */
@media all and (max-width: 425px) {
  #home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../images/peyto-home-768-min.jpeg");
  }

  #card-holder {
    padding: 1rem;
    margin: 1rem -15px 0;
  }
}
